# This compose file defines an Aptos Fullnode deployment.
# Read the README.md files for instruction on how to install aptos-node

version: "3.8"
services:
  fullnode:
    image: "${VALIDATOR_IMAGE_REPO:-aptoslabs/validator}:${IMAGE_TAG:-testnet_4219d75c57115805f0faf0ad07c17becf6580202}"
    networks:
      shared:
    volumes:
      - type: volume
        source: aptos-fullnode
        target: /opt/aptos/data
      - type: bind
        source: ./fullnode.yaml
        target: /opt/aptos/etc/fullnode.yaml
      - type: bind
        source: ./genesis.blob
        target: /opt/aptos/genesis/genesis.blob
      - type: bind
        source: ./waypoint.txt
        target: /opt/aptos/genesis/waypoint.txt
      - type: bind
        source: ./keys/validator-full-node-identity.yaml
        target: /opt/aptos/genesis/validator-full-node-identity.yaml
    command: ["/usr/local/bin/aptos-node", "-f", "/opt/aptos/etc/fullnode.yaml"]
    restart: unless-stopped
    ports:
      - "6182:6182"
      - "8080:8080"
      - "9201:9101"
    expose:
      - 6182
      - 8080
      - 9101

volumes:
  aptos-fullnode:
    name: aptos-fullnode
